{% extends 'admin_base.html' %}

{% block header_title %}
    {% trans %}Article Request List{% endtrans %}
{% endblock %}

{% block content %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
	    <th>Sentences</th>
	    <th>Status</th>
            <th>User</th>
            <th>Creation Timestamp</th>
        </tr>
    </thead>
    {% for article in articles %}
    <tr>
      <td> <a href="{{ uri_for('admin-request-view', article_urlsafe=article.key.urlsafe()) }}">{{ article.GetTitle() }}</a>  </td>
      <td> {{ article.GetNSentences() }}  </td>
      <td> {{ article.stage }}  </td>
      <td> {{ article.GetAuthor().username }}  </td>
      <td> {{ article.creation_timestamp }}  </td>
    </tr>
    {% endfor %}
</table>
{{ lib.render_pager() }}
{% endblock %}
