{% extends "admin_base.html" %}

{% block header_title %}
  {% trans %}View Article Progress{% endtrans %}
{% endblock %}


{% block content %}

<div class="container">
  <h1 style="text-align:center;">
    {% if article.AllFinished() %}
    <span class="glyphicon glyphicon-ok" style="color:green;"></span>
    {% endif %}
    {{article.GetTitle()}}
    {% if article.PaymentPending() %}
    <div class="btn btn-default"><a href="{{uri_for('admin-mark-as-paid', order_urlsafe=key.urlsafe())}}">Mark as paid</a></div>
    {% endif %}
    {% if article.stage == 'SUBMITTED' %}
    <div class="btn btn-alert"><a href="{{uri_for('admin-expire-requests', article_urlsafe=key.urlsafe())}}">Abort</a></div>
    {% endif %}
  </h1>
</div>

<div class="container sentence-display-box" style="height:80%;">
  {% for par in article.GetParagraphs() %}
  <p class="paragraph">
    {% for sent in par %}
    {% if sent.AnnotationRequestPending() %}
    <span class="pending sentence">
    {% else %}
    <span class="sentence">
    {% endif %}
      {% for span in sent.GetCorrectionSpans() %}
      {% if span[1] != None %}
      <span class="crossed-out">{{span[0]}}</span><span class="correction">{{span[1]}}</span>
      {% else %}
      <span>{{span[0]}}</span>
      {% endif %}
    {% endfor %}
    </span>
    {% endfor %}
  </p>
  {% endfor %}
</div>

{% if not article.AllFinished() %}
<div class="container progress">
  <div class="progress-bar" role="progressbar" style="width:{{article.GetFinishedPercentage()}}%">
    Completed {{article.GetNFinished()}} out of {{article.GetNRequested()}} sentences.
  </div>
</div>
{% endif %}

{% endblock %}
