{% extends "shared.html" %}

{% block htmltag %}
<html ng-app="AddCreditsApp" ng-controller="AddCreditsCtrl">
{% endblock %}

{% block scripts %}

<script src="/default/js/google_angular.min.js"></script>
<script src="/default/js/add_credits.js"></script>
<script src="/default/js/ui-bootstrap-0.14.3.min.js"></script>
<script src="/default/js/client.js"></script>

{% endblock %}


{% block body %}

<div class="container">
  <h1>Credits Refill</h1>

  <form id="form_add_credits" action="/add_credits/" method="post">
    <div style="font-size:large;">
      <div class="radio">
	<label><input type="radio" ng-model="total_credits" name="credits" value="500" ng-change="UpdatePrice()">500 credits for $5</label>
      </div>
      <div class="radio">
	<label><input type="radio" ng-model="total_credits" name="credits" value="1000" ng-change="UpdatePrice()">1,000 credits for $10</label>
      </div>
      <div class="radio">
	<label><input type="radio" ng-model="total_credits" name="credits" value="2000" ng-change="UpdatePrice()">2,000 credits for $20</label>
      </div>
      <div class="radio">
	<label><input type="radio" ng-model="total_credits" name="credits" value="5000" ng-change="UpdatePrice()">5,000 credits for $50</label>
      </div>
      <div class="radio">
	<label><input type="radio" ng-model="total_credits" name="credits" value="10000" ng-change="UpdatePrice()">10,000 credits for $100</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
	<table class="table table-bordered">
	  <tbody>
	    <tr><th>Sub-total:</th><td>${[subtotal]}</td></tr>
	    <tr><th>Transaction fee:</th><td>$0.30</td></tr>
	  </tbody>
	</table>
	<div>
	  <h1>Total: ${[total_price]}</h1>
	  <input type="image" src="https://www.paypalobjects.com/en_US/C2/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</div>
      </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
  </form>
</div>

{% endblock %}

