{% extends "shared.html" %}

{% block htmltag %}
<html ng-app="AddRequestApp" ng-controller="AddRequestCtrl">
{% endblock %}


{% block scripts %}

<script src="/default/js/google_angular.min.js"></script>
<script src="/default/js/add_article_request.js"></script>
<script src="/default/js/ui-bootstrap-0.14.3.min.js"></script>
<script src="/default/js/client.js"></script>

{% endblock %}

{% block body %}

<div class="container">
  <form id="form_add_request" action="/add_request/" method="post">
    <div>
      <center>
	<input name='title' ng-model="title" ng-click="DefinedTitle()" style="font-size:xx-large;width:100%;text-align:center;"></input>
	<textarea name="content" class="form-control" style="height:80%;" style="font-size:large" ng-model="content" ng-change="OnContentEdit()"></textarea>
	<div class="btn btn-success" ng-click="ProceedToSecondStep()">
	  {% trans %}Pick Sentences and Set Price{% endtrans %}
	  <span ng-hide="not_loading" class="glyphicon glyphicon-refresh spinning"></span> 
	</div>
      </center>
    </div>

    
    <div ng-hide="second_step_not_ready">
      <hr/>

      <div>

	<a href="#" id="picker_anchor"></a>
	
	<div style="overflow:hidden;">
	  <div class="sentence-display-box panel panel-default">
	    <div>
	      <p ng-repeat="par in paragraphs">
		<span ng-repeat="s in par.sentences track by $index" ng-class="['sentence', s.activated?'activated':'deactivated']" ng-click="ToggleActivation(s.ind)">
			<span ng-repeat="w in s.words track by $index">{[w]}</span>
		</span>
	      </p>
	    </div>
	  </div>
	</div>
	

	<div>
	  <div class="panel panel-default col-md-6">
	    <div class="panel-body">
	      <label>{% trans %}Minimum sentence length{% endtrans %}: {[min_sent_len]}</label> <input id="MinSentLen" type="range" min="1" max="30" step="1" ng-model="min_sent_len" ng-change="UpdateActivations()" style="width:100%;"></input>
	    </div>
	  </div>
	  <div class="col-md-6">
	    <p>
	    <div class="btn-group" ng-click="UpdateTotalPrice()">
              <label class="btn btn-primary" ng-model="price_choice" uib-btn-radio="'BASIC'">{% trans %}Basic{% endtrans %}</label>
              <label class="btn btn-primary" ng-model="price_choice" uib-btn-radio="'PRIORITY'">{% trans %}Priority{% endtrans %}</label>
              <label class="btn btn-primary" ng-model="price_choice" uib-btn-radio="'PREMIUM'">{% trans %}Premium{% endtrans %}</label>
	    </div>

	    </p>
	    <p>
	      <table class="table">
		<tbody>
		  <tr><th>Current Balance 
		  </th><td>{[current_credits]} points
 		    <i ng-hide="balance_reloading" class="glyphicon glyphicon-refresh" ng-click="UpdateCredits()"></i>
		    <i ng-hide="!balance_reloading" class="glyphicon glyphicon-refresh spinning"></i> 
		  </td></tr>
		  <tr><th>{% trans %}Cost{% endtrans %}</th><td>{[total_credits]} {% trans %}points{% endtrans %}</td></tr>
		  <tr><th>{% trans %}Remaining Balance{% endtrans %}</th>
		    <td>
		      <span ng-hide="!enough_credits">{[credits_after]} points</span>
		      <span ng-hide="enough_credits" class="warning">Insufficient</span>
		    </td></tr>
		</tbody>
	      </table>
	    </p>
	    <p>
	      <input type="submit" class="btn btn-warning btn-lg" value="{% trans %}Send out{% endtrans %}" ng-disabled="!enough_credits"/>
	    </p>
	    <p ng-hide="enough_credits">
	      <a href="{{ uri_for('add-credits') }}" target="_blank" class="btn btn-primary btn-lg">Refill credits</a>
	      <span class="btn btn-info btn-lg">Check again
 		<i ng-hide="balance_reloading" class="glyphicon glyphicon-refresh" ng-click="UpdateCredits()"></i>
		<i ng-hide="!balance_reloading" class="glyphicon glyphicon-refresh spinning"></i> 
	      </span>
	    </p>
	  </div>
	</div>
      </div>
    </div>

    <div id="user_urlsafe" style="display:none;">{{user_urlsafe}}</div>
    <input name="price_choice" style="display:none;" ng-model="price_choice"></input>
    <input name="activate_list" style="display:none;" ng-model="request"></input>
    <input name="paragraphs" style="display:none;" ng-model="paragraphs_json"></input>
    <input name="payment_type" style="display:none;" value="credits"></input>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    
  </form>
</div>

{% endblock %}

