{% extends "shared.html" %}

{% block htmltag %}
<html ng-app="ViewArticleApp" ng-controller="ViewArticleCtrl">
{% endblock %}

{% block scripts %}

<script src="https://cdn.bootcss.com/angular.js/1.6.4/angular.min.js"></script>
<script src="/default/js/view_article.js"></script>
<script src="/default/js/ui-bootstrap-0.14.3.min.js"></script>
<script src="/default/js/client.js"></script>

{% endblock %}


{% block body %}

<script>
 var article_urlsafe = '{{article_urlsafe}}';
</script>

<div class="container">
  <h1 style="text-align:center;">
    {% if article.AllFinished() %}
    <span class="glyphicon glyphicon-ok" style="color:green;"></span>
    {% endif %}
    {{article.GetTitle()}}
  </h1>

  <p>
    <div class="btn-group" ng-click="UpdateViewingMode()">
      <label class="btn btn-primary" ng-model="viewing_mode" uib-btn-radio="'Original'">{% trans %}Original{% endtrans %}</label>
      <label class="btn btn-primary" ng-model="viewing_mode" uib-btn-radio="'Result'">{% trans %}Result{% endtrans %}</label>
      <label class="btn btn-primary" ng-model="viewing_mode" uib-btn-radio="'Edits'">{% trans %}Edits{% endtrans %}</label>
    </div>
  </p>
</div>


<div class="container sentence-display-box panel panel-default" style="height:80%;">
  <h3 ng-if="!loading_finished">Loading...</h3>
  <p ng-if="loading_finished" ng-repeat="par in revision_result.paragraphs" class="paragraph">
    <span ng-repeat="sent in par.sentences">

      <span ng-if="sent.annotation_request_pending">
	<span class="pending sentence">
	  {[sent.annotation_spans[0].original_words]}
	</span>
      </span>
      
      <span ng-if="!sent.annotation_request_pending">
	<span class="sentence">
	  <span ng-repeat="span in sent.annotation_spans">
	    <span ng-if="span.revise_into == null">{[span.original_words]}</span>
	    <span ng-if="span.revise_into != null">
	      <span ng-class="style_map[viewing_mode]['orig']">{[span.original_words]}</span><span ng-class="style_map[viewing_mode]['revised']">{[span.revise_into]}</span>
	    </span>
	  </span>
	</span>
      </span>

    </span>
  </p>
</div>

{% if not article.AllFinished() %}
<div class="container progress">
  <div class="progress-bar" role="progressbar" style="width:{{article.GetFinishedPercentage()}}%">
    Completed {{article.GetNFinished()}} out of {{article.GetNRequested()}} sentences.
  </div>
</div>
{% endif %}

{% endblock %}

{% block footer %}
{% if article.PaymentPending() %}
<div class="footer container">
  <div class="col-md-4"></div>
  <div class="col-md-4">Total:<span class="price">${{"%.2f" | format(article.GetPrice()|float)}}</span></div>
  <div class="col-md-4">
    <a href="{{article.GetPaypalURL()}}" class="btn btn-primary">
      <img src="https://www.paypalobjects.com/en_US/C2/i/btn/btn_buynowCC_LG.gif" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </a>
    
    OR <a href="{{article.GetArchiveUrl()}}" class="btn btn-warning btn-lg">
      <span>Archive it</span>
    </a>
  </div>
</div>
{% endif %}
{% endblock %}
