{% extends "shared.html" %}


{% block body %}
<div id="content" class="container xled">
  {% block header %}
  <header class="navbar" id="overview">
    {% block header_title_lead %}
    <h1>{% block header_title %}{{ app_name }}{% endblock %}</h1>
    <p class="lead">
    </p>
    {% endblock %}
    {% block subnavbar %}
    <div class="subnav">
      <ul>
        <li{% if path == uri_for("contact") %} class="active"{% endif %}>
          <a href="{{ uri_for("contact") }}">{% trans %}Contact{% endtrans %}</a>
        </li>
        {% if not user_id %}
        <li{% if path == uri_for("register") %} class="active"{% endif %}>
          <a href="{{ uri_for("register") }}">{% trans %}Sign Up{% endtrans %}</a>
        </li>
        <li{% if path == uri_for("password-reset") %} class="active"{% endif %}>
          <a href="{{ uri_for("password-reset") }}">{% trans %}Forgot your password?{% endtrans %}</a>
        </li>
        {% endif %}
      </ul>
    </div>
    {% endblock %}
  </header>
  {% endblock %}

  {% block content %}{% endblock %}

</div>

{% endblock %}
