{% extends "shared.html" %}

{% block htmltag %}
<html ng-app="PreviewRequestApp">
{% endblock %}

{% block scripts %}

<script src="/default/js/google_angular.min.js"></script>
<script src="/js/preview_request.js"></script>

{% endblock %}

{% block body %}

<div ng-controller="RequestPreviewCtrl">

  <p ng-repeat="par in paragraphs">
    <span ng-repeat="s in par track by $index" ng-class="['sentence', s.activated?'activated':'deactivated']" ng-click="ToggleActivation($index)">
      <span ng-repeat="w in s.words track by $index">{[w]} </span>
    </span>
  </p>
  
  <div style="display:none;" id="sent_data">{{sent_data}}</div>

  <input type="range" min="1" max="100" step="1" ng-model="min_sent_len" ng-change="UpdateActivations()"></input>Minimum sentence length: {[min_sent_len]}  
  <input type="range" min="0.01" max="0.10" step="0.01" ng-model="price" ng-change="UpdateTotalPrice()"></input>Credit per sentence: ${[price]}
  <p>Estimated Total Price: ${[total_price]}</p>

  
  <form action="/build_request" method="post">
    <input name="article_key" style="display:none;" value="{{article_key}}"></input>
    <input name="activate_list" style="display:none;" ng-model="request"></input>
    <input type="image" src="https://www.paypalobjects.com/en_US/C2/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <input name="sent_price" style="display:none;" ng-model="price"></input>
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
  
</div>

{% endblock %}
