{% extends "shared.html" %}

{% block htmltag %}
<html ng-app="DashboardApp" ng-controller="DashboardCtrl">
{% endblock %}


{% block scripts %}
<script src="https://cdn.bootcss.com/angular.js/1.6.4/angular.min.js"></script>
<script src="/default/js/dashboard.js"></script>
<script src="/default/js/ui-bootstrap-0.14.3.min.js"></script>
<script src="/default/js/client.js"></script>

{% endblock %}


{% block options %}
<li>
  <a href="/add_request" style="color:white;" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus">{% trans %}Create{% endtrans %}</span>
  </a>
</li>
{% endblock %}

{% block body %}
<script>
var data_retrieval_list = [];

function AddToDataRetrievalList(urlsafe) {
    data_retrieval_list.push(urlsafe);
}
</script>

<div class="container" style="padding-top:50px;">

  <ul class="list-group">
    {% for annotation_request in annotation_requests %}
    <li class="list-group-item">
      <a class="article_link" href="{{annotation_request.GetURL()}}">{{annotation_request.GetTitle()}}</a>
      {% if annotation_request.PaymentPending() %}
      <span class="badge">
	<a style="color:white;" href="{{annotation_request.GetPaypalURL()}}">Payment pending ...</a>
      </span>
      {% else %}

      <!-- Ajax loading the progress bar. -->

      {% set urlsafe =  annotation_request.GetURLSafeKey() %}
      <script>AddToDataRetrievalList('{{urlsafe}}');</script>

      <div ng-if="data_ready_map['{{urlsafe}}']" class="progress">
	<div ng-if="all_finished_map['{{urlsafe}}']" class="progress-bar progress-bar-success" role="progressbar" style="width:100%">
          Completed.
	</div>

	<div ng-if="!all_finished_map['{{urlsafe}}']" class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width' : (100 * n_finished_map['{{urlsafe}}'] / n_requested_map['{{urlsafe}}']) + '%' }">
	  {[ n_finished_map['{{urlsafe}}'] ]} / {[ n_requested_map['{{urlsafe}}'] ]}
	</div>

      </div>
      <div ng-if="!data_ready_map['{{urlsafe}}']" class="progress">
	<div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" style="width:100%">
	  Checking progress ...
	</div>
      </div>

      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
