<center><img src="/default/img/redirect.gif"></img></center>
<body onload="document.forms['form'].submit()">
  <form name="form" action="{{paypal_url}}" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="{{paypal_business_id}}">
    <input type="hidden" name="lc" value="C2">
    <input type="hidden" name="item_name" value="{{item_name}}">
    <input type="hidden" name="amount" value="{{amount}}">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="1">
    <input type="hidden" name="no_shipping" value="1">
    <input type="hidden" name="rm" value="1">
    {% if order_completion_url %}
    <input type="hidden" name="return" value="{{base_url}}{{order_completion_url}}">
    {% endif %}
    <input type="hidden" name="cancel_return" value="{{base_url}}/cancel">
    <input type="hidden" name="tax_rate" value="00.000">
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
    <input type="hidden" name="custom" value="{{order_key_urlsafe}}">
  </form>
</body>
