{% import "macros.html" as macros %}

{% block htmltag %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ locale_language_id }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ locale_language_id }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ locale_language_id }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ locale_language_id }}"> <!--<![endif]-->
{% endblock %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <meta name="description" content="Crowd sourcing for proof reading English articles.">
    <meta name="author" content="Chitu Inc.">
    <meta name="keywords" content="Grammar error correction, crowd sourcing">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script>API_ROOT = "{{ API_ROOT }}"</script>
    <link rel="stylesheet" href="/boilerplate/css/boilerplate.min.css">
    <link rel="stylesheet" href="/default/css/styles.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href="/default/css/jumbotron.css" rel="stylesheet">
    {% block mediaCSS %}{% endblock %}

    {{ google_analytics_code }}

    <script src="/boilerplate/js/libs/modernizr-2.7.1.min.js"></script>

  </head>
  <body>
    <div id="page">
      {% block navbar %}
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/intro">CrowdGrammar</a>
	</div>

	<ul class="nav navbar-nav navbar-right hidden-xs">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon-globe glyphicon"></span>
              {% trans %}Language{% endtrans %} : {{ locale_language }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              {% for l in locales %}
              {% if locale_iso != l %}
              <li><a href="{{ path_for_language }}&hl={{ l }}">{{ locales[l] }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
	  
	  {% if nickname %}
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nickname }} ({{credits}} {% trans %}Credits{% endtrans %})<b class="caret"></b></a>
            <ul class="dropdown-menu">
	      <li><a href="{{ uri_for("add-credits") }}"><img src="/default/img/add-credits-icon.png">{% trans %}Add Credits{% endtrans %}</a></li>
              <li><a href="{{ uri_for("edit-profile") }}">{% trans %}Edit Profile{% endtrans %}</a></li>
              <li class="divider"></li>
              <li><a href="{{ logout_url }}">{% trans %}Logout{% endtrans %}</a></li>
            </ul>
          </li>
	  {% if path != "/dashboard" %}
          <li><a href="/dashboard" class="glyphicon glyphicon-dashboard">{% trans %}Dashboard{% endtrans %}</a></li>
	  {% endif %}
	  {% else %}
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% trans %}Login{% endtrans %} <b class="caret"></b>
            </a>
	    
            <div class="dropdown-menu well">
              <form id="form_login_user" action="{{ uri_for("login") }}" method="post"
                    class="auth-at-dropdown">
                <fieldset>
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

                  <div class="form-group">
                    <label class="control-label" for="l_username">
                      {% trans %}Username or Email{% endtrans %}:
                    </label>
                    <div class="controls">
                      <input class="input-xlarge focused required" id="l_username"
                             name="username" type="text" value="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="l_password">
                      {% trans %}Password{% endtrans %}:
                    </label>
                    <div class="controls">
                      <input class="input-xlarge focused required" id="l_password"
                             name="password" type="password" value="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="checkbox col-md-7">
                      <input type="checkbox" name="remember_me" id="remember_me"
                             value="on">
                      {% trans %}Remember me?{% endtrans %}
                    </label>

                    <div class="col-md-5">
                      <button type="submit" class="btn btn-primary btn-small btn-login">
                        {% trans %}Login{% endtrans %}</button>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-7">
                      <a href="{{ uri_for("password-reset") }}">
                        {% trans %}Forgot your password?{% endtrans %}</a>
                    </div>
                    <div class="col-md-5">
                      <a href="/register/"><button class="btn btn-primary btn-small">
                        {% trans %}Sign up{% endtrans %}
                      </button></a>
                    </div>
                  </div>
                  {{ macros.federated_login(provider_info, provider_uris, enable_federated_login) }}
                </fieldset>
              </form>
            </div>
          </li>
	  {% endif %}
	  {% block options %}
	  {% endblock %}
	</ul>

      </div>
    </nav>
    {% endblock %}

    {% if messages|safe %}
    {% for message in messages %}
    <p class="alert alert-{{ message[1]|safe }}">
      <a class="close" data-dismiss="alert">×</a>
      <span class="message-content">{{ message[0]|safe }}</span>
    </p>
    {% endfor %}
    {% endif %}


    {% block body %}
    {% endblock %}


    <div style="height:100px; width:100%; clear:both;"></div>

    <div class="navbar navbar-fixed-bottom" style="text-align:center;background:rgba(0,0,0,0.8);color:white;">
      {% block footer %}
      {% endblock %}
      <p>
	<a style="color:white;" href="/contact">&copy; 2015 Chitu, Inc.</a>
      </p>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/boilerplate/js/libs/jquery.min.js"><\/script>')</script>
    <script src="/boilerplate/js/libs/bootstrap.min.js"></script>
      
    <!-- scripts concatenated and minified via build script -->
    <script src="/boilerplate/js/plugins.js"></script>
    <script src="/boilerplate/js/script.js"></script>
    <script src="/{{ theme }}/js/script.js"></script>
    {% if locale_language_id != "en" %}
    {% if locale_iso.language == "pt" and locale_iso.territory == "BR" %}
    <script src="/boilerplate/js/libs/jquery_validation/localization/messages_{{ locale_iso.language }}_{{ locale_iso.territory }}.js"></script>
    {% else %}
    <script src="/boilerplate/js/libs/jquery_validation/localization/messages_{{ locale_language_id }}.js"></script>
    {% endif %}
    {% endif %}
    {% block mediaJS %}{% endblock %}
    {% block scripts %}{% endblock %}
  </div>
  </body>
</html>
