{% extends "shared.html" %}

{% block title %}Test-driving Crowd Grammar{% endblock %}

{% block scripts %}

<script src="/default/js/google_angular.min.js"></script>
<script src="/default/js/ui-bootstrap-0.14.3.min.js"></script>

<script>
 $().ready(function() {
   $("#form_testdrive").validate({
     submitHandler: function(form) {
       form.submit();
     },
     rules: {
       password: 'required',
       c_password: {
         required: true,
         equalTo: '#password'
       }
     },
     errorPlacement: function(error, element) {
       element.parent().parent().addClass("error");
       error.addClass("help-inline").appendTo( element.parent() );
     }
   });

   $("#password").passStrength({
     shortPassText: '{% trans %}Short Password{% endtrans %}',
     badPassText: '{% trans %}Insecure Password{% endtrans %}',
     goodPassText: '{% trans %}Good Password{% endtrans %}',
     strongPassText: '{% trans %}Secure Password{% endtrans %}'
   });
 });
</script>


{% endblock %}


{% block body %}

<div class="container jumbotron">
  <center>
    <h1><b>Native</b> Speakers Help You Write</h1>
    <h2>With suggestions grammar checkers can't give</h2>
  </center>
  <ul style="font-size:large">
    <li>... receive attacks <span class="crossed-out">which cause</span><span class="correction">causing</span> them to ... </li>
    <li>... as he <span class="crossed-out">grows bigger and bigger</span><span class="correction">keeps getting bigger</span> ...</li>
    <li><span class="crossed-out">In the end I had to hold him</span><span class="correction">I ended up holding him</span> for half an hour ...</li>
  </ul>
  <center>
    <h2><b>1</b> day to gather results</h2>
    <h2><b>$1</b> per essay</h2>
    <p>(normal sized)</p>
  </center>
</div>

<div class="container" style="margin-top: 20px;">
  <center>
    <h1>Try your first article for free!</h1>
  </center>

  <form id="form_testdrive" action="{{ url|safe }}" method="post">

    <div>
      <center>
	{{ macros.field(form.title, placeholder=_("title..."), style="font-size:xx-large;width:100%;text-align:center;") }}
	{{ macros.field(form.content, placeholder=_("Content ... (") + max_sent|string + _(" sentences maximum, English only)"), class="form-control", style="font-size:large;", rows=20) }}
      </center>
    </div>

    <div class="well form-horizontal">
      <h3> {% trans %} Register to keep track. {% endtrans %} </h3>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      {{ macros.field(form.email, label=_("Email"), placeholder=_("Enter your")+" "+_("Email"), class="input-xlarge focused required email form-control", type="email") }}
      {{ macros.field(form.password, label=_("Password"), placeholder=_("Enter your")+" "+_("Password"), class="input-xlarge focused required form-control", type="password") }}
      {{ macros.field(form.c_password, label=_("Confirm Password"), placeholder=_("Confirm Password"), class="input-xlarge focused required form-control", type="password") }}

      <div class="form-actions">
	<button type="submit" class="btn btn-primary">{% trans %}Submit{% endtrans %}</button>
      </div>
    </div>
  </form>

</div>

{% endblock %}

