{% extends "shared.html" %}

{% block body %}

<ul>
{% for req in requests %}
  <li><a class="req_link" href="{{req.GetAnnotateURL()}}">{{req.GetSentence().GetSnippet()}}</a></li>
{% endfor %}
</ul>

{% endblock %}
