body {
    padding-bottom: 70px;
}

a.article_link {
    font-size: large;
    font-weight: bold;
}

span.sentence {
    font-size: large;
}

div.sentence-display-box {
    max-height:80%;
    overflow-y:scroll;
    padding:10px;
}

span.activated {
    background-color: rgba(0,255,0,0.2);
    border-radius: 6px;
}

span.pending {
    color: rgba(0,0,0,0.3);
}

span.deactivated {
    background-color: lightgrey;
    border-radius: 6px;
}

span.crossed-out {
    color: red;
    text-decoration: line-through;
}

span.correction {
    color: green;
}

span.price {
    font-size: xx-large;
}

div.section-with-imgbg {
    padding:0;
    margin:0;
    display:block;
    text-align:center;
    padding-bottom:20%;
    padding-top:20%;
}

div.car-section {
    padding:0;
    margin:0;
    display:block;
    text-align:center;
    padding-top:10%;
    width:100%;
}


div.demo-imgbg {
    height:50%;
    text-align:center;
}

ul.centered_items {
    list-style:none;
    font-size:large;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}


.carousel-caption{
    background: rgba(0,0,0,0.5);
}


/* Spinning loading icon */
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
